* {
  margin: 0;
  padding: 0;
}

.wrapper {
	width: 100%;
	padding-left: 310px;
}

#options .inset {
	margin: 20px;
}

.switch > label {
	float: right;
}

#imageArea {
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

/*Fixing some problems with materialize CSS, when putting range sliders in the side-nav*/

.side-nav input[type=range]+.thumb.active {
	top: 10px !important;
}

.side-nav input[type=range]+.thumb.active .value {
	line-height: 16px;
}

@media print {
	
	.wrapper {
		margin: 0;
		padding: 0;
	}

	.no-print, .no-print * {
		display: none;
	}

	#imageArea {
        overflow: visible;
    }
}

@page {
	margin: 0.25in;
}